@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div>
    <div class="align-self-center mt-5">
        <h1 class="text-center">404 Not found</h1>
        <p class="text-center">No such page exists at this location.</p>
        <img src="~/assets/error.jpg" class="rounded img-fluid" alt="couple cooking">
    </div>
</div>
