@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<div class="container">
    <div class="row mt-5">
        <div class="col align-self-center">
            <h1>Ingredient Weight Chart</h1>
        </div>
        <div class="col-6">
            <img src="~/assets/couple.jpg" class="rounded img-fluid" alt="couple cooking">

        </div>
    </div>
    <form class="form-inline mb-5 needs-validation" method="post">
        <div class="row">
            <div class="col-auto">
                <input type="text" class="form-control" asp-for="Ingredient" placeholder="Ingredient Name" value="">
            </div>
            <div class="col-auto">
                <select class="custom-select" asp-for="Unit">
                    <option disabled selected>Unit</option>
                    <option value="Cup">Cup</option>
                    <option value="Tbsp">Tbsp</option>
                    <option value="Tsp">Tsp</option>
                </select>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <input type="text" class="form-control" asp-for="Weight" placeholder="Weight" value="">
                    <div class="input-group-append">
                        <div class="input-group-text">g</div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-md-center">
        @foreach (var item in Model.Conversions.OrderBy(i=> i.Key))
        {
            <div class="col-lg-4 col-md-6 col-12 border-left border">
                <div class="row text-center m-2">
                    <div class="col align-self-center">@item.Key</div>
                    <div class="col align-self-center">1 @item.Value.unit</div>
                    <div class="col align-self-center">@item.Value.weight g</div>
                </div>
            </div>
        }
    </div>
</div>
