@page
@model RecipeListModel
@{
    ViewData["Title"] = "All Recipes";
}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="text-center">Recipes</h1>
        </div>
    </div>
    <form class="m-5" method="post">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-10 input-group">
                <input type="text" class="form-control" name="search" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="col-md-4 col-12 text-center">
                <a asp-page="/Recipe" asp-route-recipeName="@recipe">@recipe</a>
            </div>
        }
    </div>
</div>
